<div class = "grid grid-cols-3 content-center gap-1">
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('9')">
        <p class = "text-white">9</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('8')">
        <p class = "text-white">8</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('7')">
        <p class = "text-white">7</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('6')">
        <p class = "text-white">6</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('5')">
        <p class = "text-white">5</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('4')">
        <p class = "text-white">4</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('3')">
        <p class = "text-white">3</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('2')"> 
        <p class = "text-white">2</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('1')">
        <p class = "text-white">1</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('+')">
        <p class = "text-white">+</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('0')"> 
        <p class = "text-white">0</p>
    </button>
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('-')">
        <p class = "text-white">-</p>
    </button>
</div>
<div class = "grid grid-cols-1 m-2"> 
    <button class = "text-center rounded-full bg-indigo-500 text-xl" (click)="updateNumber('=')">
        <p class = "text-white">=</p>
    </button>
</div>
